node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
db.json
.npmrc

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.continueignore
.prettierrc
.old

core/src/lib/server/assets/JmdictFurigana.json