body {
    font-family: "EB Garamond", "Zen Old Mincho";
    font-size: 1.5rem;
    background-image: url("../background.png"); 
    background-repeat: repeat;
}

button {
    font-family: "EB Garamond";
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}